@font-face {
font-family: "Aclonica Regular";
src: url("Aclonica Regular.eot") format("eot"); /* IE9 Compat Modes */
src: url("Aclonica Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Aclonica Regular.woff") format("woff"), /* Modern Browsers */
     url("Aclonica Regular.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Bonzai Regular";
src: url("Bonzai Regular.eot") format("eot"); /* IE9 Compat Modes */
src: url("Bonzai Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Bonzai Regular.woff") format("woff"), /* Modern Browsers */
     url("Bonzai Regular.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "dekiru ";
src: url("dekiru .eot") format("eot"); /* IE9 Compat Modes */
src: url("dekiru .eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("dekiru .woff") format("woff"), /* Modern Browsers */
     url("dekiru .ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Domestic Manners Regular";
src: url("Domestic Manners Regular.eot") format("eot"); /* IE9 Compat Modes */
src: url("Domestic Manners Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Domestic Manners Regular.woff") format("woff"), /* Modern Browsers */
     url("Domestic Manners Regular.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Eastern Brush";
src: url("Eastern Brush.eot") format("eot"); /* IE9 Compat Modes */
src: url("Eastern Brush.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Eastern Brush.woff") format("woff"), /* Modern Browsers */
     url("Eastern Brush.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Just Another Hand Regular";
src: url("Just Another Hand Regular.eot") format("eot"); /* IE9 Compat Modes */
src: url("Just Another Hand Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Just Another Hand Regular.woff") format("woff"), /* Modern Browsers */
     url("Just Another Hand Regular.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "KANEIWA alp regular";
src: url("KANEIWA alp regular.eot") format("eot"); /* IE9 Compat Modes */
src: url("KANEIWA alp regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("KANEIWA alp regular.woff") format("woff"), /* Modern Browsers */
     url("KANEIWA alp regular.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: "Korean Calligraphy";
src: url("Korean Calligraphy.eot") format("eot"); /* IE9 Compat Modes */
src: url("Korean Calligraphy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
     url("Korean Calligraphy.woff") format("woff"), /* Modern Browsers */
     url("Korean Calligraphy.ttf") format("truetype"); /* Safari, Android, iOS */
font-weight: normal;
font-style: normal;
}
